# Created by .ignore support plugin (hsz.mobi)
*.patch
/HEAD
/out
/config
/refs
/objects
/description
/hooks
/info
.idea/
target/
build/
.gradle
mb.pid
logs/
*.log
*.DS_Store
conf/properties/*
springboot-mybatis.iws
/node_modules
/bower_components
